# Path to the CA certificate for SSL verification
PATH_TO_CA_CERT="./secrets/certs/ca/ca.crt"

# Elastic Search Configuration
ELASTIC_USERNAME="elastic"
ELASTIC_PASSWORD=""
ELASTIC_BASE_URL="https://localhost:9200"
ELASTIC_INDEX_NAME_GND="gnd_lobid"
ELASTIC_INDEX_NAME_WIKIDATA="wikidata"

# Embedding Service Configuration
CLIENT_ID=""
CLIENT_SECRET=""
EMBEDDINGS_ENDPOINT=""

# Milvus Configuration
MILVUS_HOST="localhost"
MILVUS_PORT="19530"
