# Path to the CA certificate for SSL verification
PATH_TO_CA_CERT="./services/CHNOBLi-elasticsearch/secrets/certs/ca/ca.crt"
#PATH_TO_CA_CERT="./secrets/certs/ca/ca.crt"

# Elastic Search Configuration
ELASTIC_USERNAME="elastic"
ELASTIC_PASSWORD=""
ELASTIC_BASE_URL="https://localhost:9200"
# If using the chnobli-linking docker image
#ELASTIC_BASE_URL="https://host.docker.internal:9200"
ELASTIC_INDEX_NAME_GND="gnd_lobid"
ELASTIC_INDEX_NAME_WIKIDATA="wikidata"

# Embedding Service Configuration (self-hosted)
EMBEDDINGS_ENDPOINT="http://localhost:8000/api/embeddings"

# Milvus Configuration
MILVUS_HOST="localhost"
# If using the chnobli-linking docker image
#MILVUS_HOST="host.docker.internal"
MILVUS_PORT="19530"

# Timeouts for Vector DB querying (useful when generating embeddings on CPU)
VD_TIMEOUT="300"
VD_TIMEOUT_RETRY="600"

# GitLab Tokens for Embeddings Backend and Engine
GITLAB_TOKEN_BACKEND=""
GITLAB_TOKEN_EMBEDDINGS=""

# ==========================================
# Paramanera API Authentication (Optional)
# ==========================================
# Provide these ONLY if you are connecting to the remote ETH Paramanera API endpoint.
# If these are left blank, CHNOBLi assumes your embeddings-backend is self-hosted and IP-whitelisted.
# OIDC_TOKEN_URL="https://qss.access.ethz.ch/spa1/token"
# CLIENT_ID=your_client_id
# CLIENT_SECRET=your_client_secret
