data
private/
data/output
src/secrets.py
logs

#secrets
secrets/

#caches
*__pycache__*

#env
.env_chnobli

# Services (local clones)
services/CHNOBLi-elasticsearch
services/CHNOBLi-vectordb

# Models
models/*pt

# docs
# Sphinx build output
docs/build/
docs/_build/